 *, *::before, *::after {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
}

.nav {
    width:100%;
    height:100px;
    background-color:blue;
    border:1px solid black;
}

.habits-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    height:1000px;
    border:1px solid black;
}

.habits-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    border: 1px solid black;
}

.habit-btn {
    background-color:#28a745;
    border:1px solid rgb(1, 77, 1);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

.habits-input-container {
    display: flex;
    justify-content:center;
    align-items:flex-start;
    width:50%;
    height:1000px;
    border:1px solid black;
}

.habits-fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: 1px solid black;
    border-radius: 6px;
    min-width: 200px;
    background-color: #F5F5F5;
}

.habits-legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: green;
}

.habits-label {
    display: block;
    margin-top: 1em;
}

.habits-input {
    padding: .5em;
    border: 1px solid #999;
}

.habits-input[type=radio] + label {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}

.habit {
    display: flex;
    width: 400px;
    height: 120px;
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #F5F5F5;
}

.habit p {
    font-weight: bold;
}

.habit h3 {
    text-align: left;
}

.habits-text-container {
    width: 50%;
    height: auto;
}

.habit-button-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:end;
    width: 50%;
    height: auto;
    padding-right: 20px;
}

.habit-list-button {
    background-color:#28a745;
    border:1px solid rgb(1, 77, 1);
    color: white;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 5px;
}

/* Dropdown Button */
.habits-dropbtn {
    background-color: #28a745;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: 1px solid black;
    margin: 10px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .habits-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .habits-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .habits-label-dropdown {
    display: grid;
    padding: 3px;
    text-align: center;
    text-decoration: underline;
  }
  
  /* Links inside the dropdown */
  .habits-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .habits-dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .habits-dropdown:hover .habits-dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .habits-dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* Todos and activities css */

  .todo-list-container{
    display: inline-block;
    width:50%;
    height:1000px;
    border:1px solid black;
}

.todos-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    border: 1px solid black;
}

#filter, #sorting {
    background-color: #28a745;
    width: 100px;
    height:40px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    padding-top: 5px;
    margin: 0 20px;
}

.todo-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:1000px;
    border:1px solid black;
}
.todo-form{
    display: grid;
    width: 80%;
    height: auto;
    background: white;
    padding: 40px 100px 100px 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
    gap: 5px;
}
#subId{
    height: 40px;
    background-color: #28a745;
    border-radius: 5px;
}
#sök--filtrering, #sortering-button{
    height: 30px;
    background-color: #28a745;
    border-radius: 5px;
}
#category, #deadline {
    height: 35px;
    border-radius: 5px;
}
.todo-title-container{
    display: grid;
}
#todo-title{
    height: 30px;
    border-radius: 5px;
}
.todo-status-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

/* .todo-sorting-button {
    display: flex;
    align-items: center;
    gap: 100px;
} */
.todo-dropdown-content {
    display: none;
    position:absolute;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 14px; 
    z-index: 1;
}
.todo-filter-button:hover .todo-dropdown-content{
    display: grid;
    padding: 12px 16px;
    width: 150px;
    gap: 10px;
    border-radius: 5px;
}
.todo-sorting-content{
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 14px;
    z-index: 1;
}
.todo-sorting-button:hover .todo-sorting-content{
    display: grid;
    padding: 12px 16px;
    width: 150px;
    gap: 10px;
    border-radius: 5px;
    justify-content: center;
}